defaults/flow.json
[{"id":"f424a577.f25818","type":"ui_link","z":"99dbbf4c.6de9","name":"Editor","link":"/red","icon":"open_in_browser","target":"newtab","order":"3","x":470,"y":80,"wires":[]},{"id":"b108854c.189e48","type":"ui_template","z":"99dbbf4c.6de9","group":"c7a51749.4defc8","name":"Welcome","order":1,"width":"3","height":"9","format":"<h3>Welcome to the <font color=\"#CE2020\">Node-RED</font> Dashboard</h3>\n<p>On the right you will see some simple widgets to play with.\nTo get started making something a bit more useful click the menu icon at the top-left, and select <b>Editor</b>.</p>","storeOutMessages":false,"fwdInMessages":false,"x":103,"y":83,"wires":[[]]},{"id":"f5939a6f.0a1f28","type":"ui_link","z":"99dbbf4c.6de9","name":"Worldmap","link":"/worldmap","icon":"language","target":"iframe","order":"2","x":312,"y":80,"wires":[]},{"id":"313bc714.a10878","type":"ui_button","z":"99dbbf4c.6de9","name":"Button","group":"aa4e2763.66f248","order":"4","width":"6","height":"1","label":"Click Me","color":"green","icon":"fa-male","payload":"Hello !","topic":"","x":133,"y":186,"wires":[["6cd85003.5103d"]]},{"id":"6cd85003.5103d","type":"ui_toast","z":"99dbbf4c.6de9","name":"","x":313,"y":186,"wires":[]},{"id":"9dfdad33.01dcf","type":"ui_numeric","z":"99dbbf4c.6de9","group":"61c28add.8d1584","order":1,"width":"6","height":1,"name":"numeric","label":"numeric","topic":"number set to","format":"{{value}}","min":0,"max":10,"x":152,"y":249,"wires":[["584d618f.47bd9"]]},{"id":"5b579c4.5947a64","type":"ui_switch","z":"99dbbf4c.6de9","group":"61c28add.8d1584","order":4,"width":6,"height":1,"name":"switch","label":"switch","topic":"","style":"","onvalue":"On","onicon":"","oncolor":"green","offvalue":"Off","officon":"","offcolor":"red","x":150,"y":380,"wires":[["603195ec.967f1c"]]},{"id":"603195ec.967f1c","type":"ui_text_input","z":"99dbbf4c.6de9","group":"61c28add.8d1584","order":5,"width":6,"height":1,"name":"","mode":"text","delay":300,"label":"text","topic":"","x":317,"y":434,"wires":[["5b579c4.5947a64"]]},{"id":"14991591.7d596a","type":"ui_text","z":"99dbbf4c.6de9","group":"61c28add.8d1584","order":2,"width":6,"height":1,"name":"text","label":"{{msg.topic}}","format":"{{msg.payload}}","x":355,"y":244,"wires":[]},{"id":"4eb25425.4b7c8c","type":"ui_chart","z":"99dbbf4c.6de9","group":"aa4e2763.66f248","order":1,"width":6,"height":"4","label":"","name":"","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":"10","removeOlderUnit":"60","x":448,"y":315,"wires":[[],[]]},{"id":"584d618f.47bd9","type":"ui_slider","z":"99dbbf4c.6de9","group":"61c28add.8d1584","order":3,"width":0,"height":0,"name":"","label":"slider","topic":"number set to","min":0,"max":10,"x":157.5,"y":304,"wires":[["14991591.7d596a","9dfdad33.01dcf","4eb25425.4b7c8c"]]},{"id":"8ef46266.a40b9","type":"mqtt in","z":"99dbbf4c.6de9","name":"","topic":"planes","broker":"fa2c9f4b.b8b75","x":117,"y":633,"wires":[["2988b471.781a8c"]]},{"id":"6a8d31d1.bc874","type":"debug","z":"99dbbf4c.6de9","name":"","active":false,"console":"false","complete":"false","x":717,"y":633,"wires":[]},{"id":"2988b471.781a8c","type":"json","z":"99dbbf4c.6de9","name":"","x":257,"y":633,"wires":[["1e403bc4.259db4"]]},{"id":"1e403bc4.259db4","type":"function","z":"99dbbf4c.6de9","name":"split and add to layers","func":"var p = msg.payload.planes;\n\nvar m = [];\n\nfor (var i in p) {\n    p[i].name = p[i].call;\n    delete p[i].call;\n    p[i].speed = parseInt(p[i].speed * 0.539957);\n    p[i].layer = \"ADS-B\";\n    p[i].icon = \"plane\";\n\n    if (p[i].sqk == 7500) { p[i].squawk = \"Hijack !!!\"; }\n    if (p[i].sqk == 7600) { p[i].squawk = \"Radio Failure\"; }\n    if (p[i].sqk == 7700) { p[i].squawk = \"Emergency !\"; }\n    m.push({payload:p[i]});\n}\nreturn [m];","outputs":1,"noerr":0,"x":447,"y":633,"wires":[["6a8d31d1.bc874","4ca6b84e.2ea248"]]},{"id":"be319694.9dfd28","type":"mqtt in","z":"99dbbf4c.6de9","name":"","topic":"ships","broker":"fa2c9f4b.b8b75","x":117,"y":513,"wires":[["5dc00ebf.93833"]]},{"id":"5265f359.d81c0c","type":"debug","z":"99dbbf4c.6de9","name":"","active":false,"console":"false","complete":"payload","x":412,"y":565,"wires":[]},{"id":"4ca6b84e.2ea248","type":"worldmap","z":"99dbbf4c.6de9","name":"","x":650,"y":510,"wires":[]},{"id":"5dc00ebf.93833","type":"json","z":"99dbbf4c.6de9","name":"","x":257,"y":513,"wires":[["5265f359.d81c0c","4ca6b84e.2ea248"]]},{"id":"c7a51749.4defc8","type":"ui_group","z":"99dbbf4c.6de9","name":"Introduction","tab":"a5e0af54.afdb5","disp":false,"width":"3"},{"id":"aa4e2763.66f248","type":"ui_group","z":"99dbbf4c.6de9","name":"Temperatures","tab":"a5e0af54.afdb5","disp":true,"width":"6"},{"id":"61c28add.8d1584","type":"ui_group","z":"99dbbf4c.6de9","name":"Extras","tab":"a5e0af54.afdb5","disp":true,"width":"6"},{"id":"fa2c9f4b.b8b75","type":"mqtt-broker","broker":"","port":"1883","clientid":""},{"id":"a5e0af54.afdb5","type":"ui_tab","z":"99dbbf4c.6de9","name":"Home","icon":"dashboard","theme":"theme-dark"}]
